﻿<div class='panel panel-primary'>
  <div class='panel-heading'>
    {{pageTitle}}
  </div>

  <div class='panel-body'>
    <!-- Filter by the Title   -->
    <div class="row">
      <pm-criteria #filterCriteria
        [displayDetail]="includeDetail"
        [hitCount]="filteredProducts?.length"
        (valueChange)="onValueChange($event)"
         class="col-md-10">
      </pm-criteria>
    </div>

    <div class='table-responsive'>
      <table class='table'
             *ngIf='products && products.length'>
        <thead>
        <tr>
          <th>
            <button class='btn btn-primary'
                    (click)='toggleImage()'>
              {{showImage ? 'Hide' : 'Show'}} Image
            </button>
          </th>
          <th>Product</th>
          <th>Code</th>
          <th>Available</th>
          <th>Price</th>
          <th>5 Star Rating</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let product of filteredProducts'>
          <td>
            <img *ngIf='showImage && product.imageUrl'
                 [src]='product.imageUrl'
                 [title]='product.productName'
                 [style.width.px]='imageWidth'
                 [style.margin.px]='imageMargin'>
          </td>
          <td><a [routerLink]="['/products', product.id]">
            {{ product.productName }}
          </a>
          </td>
          <td>{{ product.productCode }}</td>
          <td>{{ product.releaseDate }}</td>
          <td>{{ product.price | currency:'USD':'symbol':'1.2-2'}}</td>
          <td>
            <pm-star [rating]='product.starRating'>
            </pm-star>
          </td>
          <td>
            <a class="btn btn-primary"
               [routerLink]="['/products', product.id, 'edit']">
              Edit
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>
