<div class='row'>
  <div class='col-md-2'>Filter by:</div>
  <div class='col-md-4'>
    <input type='text' #filterElement
           [(ngModel)]='listFilter' />
  </div>
  <button type="button" class="btn btn-primary" (click)="removeFilter()">Reset Filter</button>
</div>
<div class='row' *ngIf="displayDetail">
  <div class='col-md-10'>
    <h3>Filtered by: {{listFilter}} </h3>
    <h3>Count: {{hitMessage}} </h3>
  </div>
</div>
